@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');



.logo{
  position: absolute;
}

.logo1{ /*plain logo in the middle*/
  position: relative;
  width: 20%;
  height: 20%;
  margin-top: -3%;
  animation-iteration-count: infinite;
  animation-name: animation1;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

@keyframes animation1 {
  0%   {left:40%; opacity: 1}
  30%, 70% {left:40%; opacity: 0;}
  100% {left:40%; opacity: 1;}
}

.logo2{ /*scroll from middle to right end*/
  position: relative;
  width: 20%;
  height: 20%;
  margin-top: -3%;
  animation-iteration-count: infinite;
  animation-name: animation2;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes animation2 {
  0%, 30% {left:-20%;}
  80% {opacity: 1}
  100% {left:80%; opacity: 0}
}

.image-container{
  position: absolute;
  overflow: hidden;
}

body{
  background-color: #222222;
  font-family: 'Roboto Mono', monospace; 
}

/*"Lucida Console"*/
.font{
  width: 30%;
  height: 30%;
}

/*pink logo color f0069a
purple logo color 9f0b68*/
.line{
  height: 5px;
  padding: 5px;
  border-bottom: 6px solid #fc39eeff;
  text-align: center;
  flex-grow: 5;
}

.header-container{
  position: absolute;
  width: 100%;
}

.flex-container-top{
	display: flex; 
  align-items: center;
  justify-content: space-evenly; 

 
  /*position: absolute;
   flex-direction: column;
  flex-direction: column;
	/*align-items: flex-end;
  align-items: center;
	justify-content: space-evenly;
  gap:0px;
  width: 100%;
  height: 100%;
  margin-top: 20;
  top: 0;
  left: 0;*/
}

.flex-container-main{
  display: flex;
  align-items: flex-start;
  color: #ffffff;
  gap:10px;
}

.flex-item-main {
  padding: 20px 0px 0px 5%;
  text-align: left;
  max-width: 40%;
  margin-top: 5%;
}

.flex-item-nav {
  padding: 20px;
  position: relative;
  margin-left: 23%;
  margin-top: 5%;
  text-align: left;
}

.flex-item-top{
  padding: 3px;
  display: flex;
  text-align: center;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  min-width: 150px; /* Set the width of the sidebar */
  /*position: absolute;  Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top stack*/
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #fc39eeff;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px){
  .sidenav {padding-top: 15px; margin-left: 3%;} /*margin*/
  .sidenav a{font-size: 40; padding: 6px 8px 30px 8px;}
  .flex-container-top{height: 20%}
  .font{width: 80%; height: 60%;}
  .logo2{width: 40%; height: 40%; animation-duration: 10s;}
  @keyframes animation2 {
    0%, 30% {left:-40%;}
    80% {opacity: 1}
    100% {left:60%; opacity: 0}
  }
  .logo1{width: 40%; height: 40%;animation-duration: 10s;}
  @keyframes animation1 {
    0%   {left:30%; opacity: 1}
    30%, 70% {left:30%; opacity: 0;}
    100% {left:30%; opacity: 1;}
  }
  body{
    font-size: 30;
  }
  

  
}
