.App {
  width:100vw;
  height:100vh;
  padding:0;
  background-color: grey;
}

.grid-container{
  display:grid;
  gap: 5%;
  grid-template-areas: 
  'header header header header header header'
  'menu main main main main main'
  'menu footer footer footer footer footer';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Sidebar{
  background-color: purple;
  grid-area: menu;
}

.SidebarList{
  height:auto;
  padding:0;
  width:100%;
}

.row{
  width:100%;
  height:70px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color:white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS';
}

.row:hover{
  cursor: pointer;
  background-color: darkmagenta;
}

.SidebarList#active{
  background-color: darkmagenta;
}

.home{
  float:right;
  width:70%;
  grid-area: main;
}

.header{
  grid-area:header;
}

.flex-container-top{
  display: flex; 
  align-items: center;
  justify-content: space-evenly;
}

.animation-container{
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
