@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.App {
  padding:0;
  background-color: black;
  color:white;
  overflow-x: hidden;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  height: 100%;
}

.accordion{
  width:80%;
}


.grid-container{
  display:grid;
  height: 100vh;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
  grid-template-areas: 
  'menu header'
  'menu main';
}

.SidebarList.row.a{
  color:darkmagenta;
}

.heading{
  margin-top: 30px;
  margin-bottom: 30px;
}

.content{
  padding:20px;
  text-align: center;
}
.content a:link {
  color: rgba(226, 3, 211,0.3);
}

.content a:visited {
  color: rgba(0,0,0,0.3);
}

.content a:hover {
  color: rgba(255,255,255,0.6);
}

.content a:active {
  color: rgba(255,255,255,0.6);
}

.content a {
    text-decoration: none;
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
}

.Sidebar{
  background-color: #191818;
  grid-area: menu;
  width:150px;
  text-align: center;
  height: auto;
}

.SidebarList{
  padding:0;
  height: 100%;
  margin:0;
}

.SidebarList li{
  width:100%;
  height:50px;
  margin:0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS';
}

.SidebarList li a{
  color:#e203d3;
  text-decoration: none;
}

.SidebarList li:hover{
  cursor: pointer;
  background-color: whitesmoke;
}

.SidebarList li #active{
  background-color: darkmagenta;
}

.home{
  float:right;
  grid-area: main;
}

.register{
  grid-area: main;
  padding:2%;
}

.font{
  width: 360px;
  margin-top: 6%;
}

.header-container{
  position: absolute;
  /*width: 100%;*/
}

.flex-container-top{
    height: 7em;
    display: flex; 
  align-items: center;
  justify-content: space-evenly;
}


.logo1{ /*plain logo in the middle*/
  position: relative;
  width: 96px; /*8% of width and height*/
  height: 92px;
  margin-left: 60%;
  margin-top: -62%;
  animation-iteration-count: infinite;
  animation-name: animation1;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

@keyframes animation1 {
  0%   {left:0%; opacity: 1}
  30%, 70% {left:0%; opacity: 0;}
  100% {left:0%; opacity: 1;}
}

.logo2{ /*scroll from left to right end*/
  position: relative;
  width: 96px;
  height: 92px;
  animation-iteration-count: infinite;
  animation-name: animation2;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes animation2 {
  0%, 30% {left: -70%;opacity: 0}
  50% {opacity: 1}
  100% {left:100%; opacity: 0}
}

.animation-container{   
  width:100%;
  height: 7em ;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
}

.animation-container .header-container{
    width: 100%;
}

.header {
  margin: 0;
  box-sizing: border-box;
  grid-area: header;
  overflow: hidden;
  width: 100%;
  height: 150px;
  right: 10px;
  position: relative;
  text-align: center;
  padding-top: 1em;
  border-bottom: 4px solid #e203d3;
}

.main{
  position:relative;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


